<!-- this is where the buttons to go to (1) vote, (2) see competition, and (3) see leaderboard will be -->

<head>

<style>
#vote_bttn{
width: 300px;
height: 40px;

}

#competition{
width: 300px;
height: 40px;
}

#leaderboard{
width: 300px;
height: 40px;
}

</style>

</head>

<body>
 <button type="button" id="vote_bttn" onclick="openTab(event, 'vote')">Vote!</button>
 <button type="button" id="competition" onclick="openTab(event, 'slideshow')">See Your Competition!</button>
 <button type="button" id="leaderboard" onclick="openTab(event, 'statistics')">See The Leaderboard!</button>
</body>
